# 🔐 Fichiers générés par Mbarek Cipher
*.mbk

# 🧪 Fichiers temporaires
*.log
*.tmp
*.cache

# 📂 Dossiers temporaires
/tmp/
/cache/

# ⚙️ Dépendances (si jamais tu utilises Composer)
vendor/

# 🖥️ OS
.DS_Store
Thumbs.db

# 🐧 Linux / éditeurs
*.swp
*.swo

# 🧪 Tests / outputs
/output/
*.out